.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #3d4b65;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 100%;

  padding-top: 20px;
}

.menu:hover {
  width: 215px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 16px;
}

.menu ul li a:hover {
  background-color: #fff;
  color: #4d4d4d;
}

.menu ul li a i {
  margin-right: 10px;
}

/* Adiciona padding-left ao conteúdo para que ele não fique atrás do menu */
.content {
  margin-left: 200px; /* Certifique-se de que seja o mesmo valor que a largura do menu */
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.menu ul li.active a {
  background-color: #fff;
  color: #4d4d4d;
}

.menu ul li.active a i {
  color: #4d4d4d;
}

.logoText {
  color: #f2f2f2;
}

.user-email {
  font-size: 10px;
}

.menu_mobile {
  display: none;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .content {
    margin-left: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .menu_mobile {
    display: block;
  }
}

.nav-link.active {
  color: orange;
}

/* layout.module.css */
.layout {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; /* Certifique-se de que a largura seja 100% */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-sizing: border-box; /* Inclui padding e border no cálculo do width */
  overflow-x: hidden; /* Evita rolagem horizontal */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .layout {
    padding: 10px; /* Ajusta o padding em telas menores */
  }
}
